@charset "utf-8";

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}

.sd_appear {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
}

/* top_mv */
.top_mv img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .sd_appear {
        width: 100%;
    }
}

.scroll {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 50%;
}

.scroll img {
    width: 15px;
    padding-right: 10px;
}

.scroll p {
    font-size: 12px;
}

@media screen and (max-width: 1200px) {
    .scroll {
        padding-top: 60%;
    }
}

@media screen and (max-width: 767px) {
    p {
        font-size: 14px;
    }

    .sd_appear {
        width: 100%;
    }
}

/* hp_desc */

.hp_desc {
    max-width: 850px;
    display: flex;
    margin: 0 auto;
    padding: 10%;
    justify-content: center;
}

.hp_desc {
    display: flex;
}

.hp_desc p {
    text-align: left;
    font-size: 17px;
}

.hp_desc img {
    width: 170px;
    padding-right: 50px;
}

@media screen and (max-width: 767px) {
    .scroll {
        padding-top: 160%;
    }
    .hp_desc {
        display: block;
        margin: 70px 10px 200px 10px;
        text-align: center;
    }

    .hp_desc img {
        text-align: center;
        padding-right: 0;
    }
}

/* about */

.about_logo {
    position: absolute;
    top: -50px;
    left: 55%;
    width: 30%;
    max-width: 125px;
}

.about_wrap {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    padding: 30px 0 200px 0;
}

.about_img {
    width: 50%;
    z-index: 1;
}

.about_text {
    padding: 10% 9% 9% 9%;
}

.about_text p {
    line-height: 1.68;
}

.about_more {
    position: relative;
    margin-top: 5%;
    text-align: center;
}
.about_more::before,
.about_more::after {
    content: "";
    position: absolute;
    bottom: -3px;
    display: block;
    width: 0;
    height: 2px;
    background-color: #c4a672;
    transition: width 0.3s;
}
.about_more::before {
    right: 50%;
}
.about_more::after {
    left: 50%;
}
.about_more:hover::before,
.about_more:hover::after {
    width: 20%;
}

@media screen and (max-width: 767px) {
    .about_logo {
        left: 38%;
    }

    .about_logo {
        top: -45px;
    }

    .about_wrap {
        display: block;
    }

    .about_img {
        width: 100%;
    }

    .about_text {
        text-align: center;
        padding: 15%;
    }

    .about_text p {
        text-align: left;
        display: inline-block;
    }

    .about_wrap {
        padding-bottom: 50px;
    }
}

/* skill */
.skill_logo {
    position: absolute;
    top: -27px;
    left: 49%;
    transform: translate(-50%);
    width: 30%;
    max-width: 114px;
}

.skill_content {
    padding: 20px;
}

.skill_box {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.skill_box ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 20%;
    margin-bottom: 10%;
}

.skill_box ul li {
    display: inline;
}

.skill_box img {
    width: 150px;
    padding: 20px 0;
}

.skill_box li p {
    text-align: center;

    line-height: 1.68;
    font-family: "garamond-premier-pro-caption", serif;
}

.br-sp {
    display: none;
}

@media screen and (max-width: 767px) {
    .skill_box ul {
        display: block;
        padding: 0;
    }

    br {
        display: initial;
    }

    .br-sp {
        display: block;
    }

    .skill_box p {
        padding: 0;
        margin-bottom: 90px;
    }
}

/* works */

.works_logo {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    max-width: 114px;
}

.works_item {
    padding: 170px 20px 50px 20px;
}

/* works横並び */
.works_content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 200px;
}

.works_content a {
    display: block;
    color: #a4a88d;
    width: 100%;
    height: 100%;
}

.works_content a:hover {
    opacity: 1;
}

.works_content ul {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    list-style: none;
}

.works_wrap {
    width: 30%;
    overflow: hidden;
    margin: 10px 8px 10px 16px;
    position: relative; /* 相対位置指定 */
}

.works_wrap .caption {
    font-size: 60%;
    padding-top: 15%;
    text-align: center;
    margin: 0 auto;
    color: #a4a88d;
}

.works_wrap .mask {
    width: 100%;
    height: 100%;
    position: absolute; /* 絶対位置指定 */
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(255, 255, 235, 0.95); /* マスクは半透明 */
    transition: all 0.2s ease;
}
.works_wrap:hover .mask {
    opacity: 1; /* マスクを表示する */
}

@media screen and (max-width: 767px) {
    .works_content {
        padding-top: 0;
        margin-bottom: 20%;
        max-width: 100%;
    }

    .works_wrap {
        width: 100%;
    }

    .works_wrap .caption {
        width: 100%;
    }
}

.more {
    position: relative;
    margin-top: 50px;
    text-align: center;
}
.more::before,
.more::after {
    right: 50%;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px #c4a672;
    transform: translateX(-50%);
    animation: border_anim 3s linear forwards;
}
.more::before {
    right: 50%;
}
.more::after {
    left: 50%;
}
.more:hover::before,
.more:hover::after {
    width: 50%;
}

@media screen and (max-width: 767px) {
    .more {
        margin-bottom: 100px;
    }
}

/* contact */
.contact_logo {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    max-width: 142px;
}

.contact p {
    line-height: 1.68;
    text-align: center;
    padding-top: 170px;
}

.contact_buttan {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 250px;
}

.contact_btn {
    color: #c4a672;
    border: 1px solid #c4a672;
    padding: 10px 40px;
    background-color: #fffff5;
    border-radius: 5px;
    transition: 0.3s;
}

.contact_btn:hover {
    color: #fffff5;
    background: #c4a672;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .contact p {
        padding-top: 30px;
    }
    .contact_logo {
        top: 5px;
    }

    .contact_buttan {
        padding-bottom: 160px;
    }
}
