@charset "utf-8";

h3 {
    font-family: "fot-cezanne-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.works2_logo {
    position: absolute;
    top: -21px;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    max-width: 114px;
}

.works_content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 200px;
    justify-content: center;
    margin: 0 auto;
    padding: 200px 0;
}

.works_content a {
    display: block;
    color: #a4a88d;
    width: 100%;
    height: 100%;
}

.works_content a:hover {
    opacity: 1;
}
.works_content ul {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    list-style: none;
}

.works_wrap {
    width: 40%;
    overflow: hidden;
    margin: 10px 8px 10px 16px;
    position: relative; /* 相対位置指定 */
}

.works_wrap .caption {
    font-size: 60%;
    padding-top: 25%;
    text-align: center;
    margin: 0 auto;
    color: #a4a88d;
}

.works_wrap .mask {
    width: 100%;
    height: 100%;
    position: absolute; /* 絶対位置指定 */
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(255, 255, 235, 0.95); /* マスクは半透明 */

    transition: all 0.2s ease;
}
.works_wrap:hover .mask {
    opacity: 1; /* マスクを表示する */
}

@media screen and (max-width: 767px) {
    .score {
        top: 125px;
    }

    .works_content {
        display: block;
    }

    .works_wrap {
        width: auto;
    }
}

.more {
    text-align: center;
    margin: 80px 0;
}

.more a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 150px;
    padding: 10px 25px;
    color: #a4a88d;
    transition: 0.3s ease-in-out;
}

.more a ::before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
}

.more a:before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
}
.more a:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #c4a672;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}
.more a:hover {
    opacity: 0.7;
}
.more a:hover:after {
    transform: scale(1, 1);
}

/* banner_design */
.banner_design img {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    max-width: 265px;
}

/* design */
.design img {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    max-width: 117px;
}

/* worksitem_content */

.website_design img {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    max-width: 265px;
}

.worksitem_content {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
}

.worksitem_content_desc {
    text-align: center;
    margin: 20px;
}

.worksitem_content_desc p {
    line-height: 1.5;
}

h3 {
    margin: 10px 0;
}

h3 span {
    font-size: 12px;
}

/* worksitem_text*/
.worksitem_text {
    max-width: 1000px;
    margin: 100px;
}
.worksite_desc_text {
    text-align: left;
    padding-left: 50px;
}

.worksite_desc {
    display: flex;
    align-items: center;
}

.worksite_desc + .worksite_desc {
    margin-top: 100px;
}

.worksite_desc p {
    line-height: 1.78;
}

.worksite_desc p span {
    font-size: 15px;
}

.worksite_desc img {
    width: 10px;
    height: 200px;
    margin-right: 10px;
}

.detail1_img {
    width: 500px;
}

.detail2_img {
    width: 700px;
    margin-top: 80px;
}

.br-sp {
    display: none;
}

@media screen and (max-width: 767px) {
    .worksite_desc {
        position: inherit;
        margin: 10%;
    }

    .worksite_desc img {
        height: 280px;
    }

    .detail1_img {
        width: 80%;
        padding: 0;
    }

    .detail2_img {
        width: 95%;
        padding: 0;
    }

    br {
        display: none;
    }

    .worksitem_text {
        margin: 0;
    }

    .worksite_desc_text {
        padding-left: 10px;
    }

    .banner_design img {
        width: 250px;
    }

    .br-sp {
        display: initial;
    }

    .worksitem_content_desc p {
        font-size: 12px;
    }
}

.more {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 190px;
}

.more a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 150px;
    padding: 10px 25px;
    color: #a4a88d;
    transition: 0.3s ease-in-out;
}

.more a ::before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
}

.more a:before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
}
.more a:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #c4a672;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}
.more a:hover {
    opacity: 0.7;
}
.more a:hover:after {
    transform: scale(1, 1);
}

/* works2 */
.url {
    max-width: 850px;
    text-align: end;
    margin-top: 5%;
}

.url::before {
    content: url(../images/sannkaku@2x.png);
}

@media screen and (max-width: 1100px) {
    .url {
        text-align: center;
        max-width: none;
    }
}

/* works2.6 */
.sp-br {
    display: none;
}

@media screen and (max-width: 767px) {
    .sp-br {
        display: block;
    }
}

/* works5.6 */
.works_website {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 10px;
}

.pc_img {
    width: 600px;
}

.sp_img {
    width: 200px;
}

.works_website p {
    text-align: left;
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .works_website {
        display: block;
    }

    .pc_detail {
        max-width: 600px;
        margin: 0 auto;
    }

    .sp_detail {
        max-width: 200px;
        margin: 0 auto;
    }
}

/* works7 */
.pc2_img {
    width: 443px;
}
